<mat-form-field class="example-full-width">
  <input matInput
         [matDatepicker]="picker"
         placeholder="Selecciona una fecha"
         [value]="date"
         (dateChange)="setNewDate($event)"
  >
  <mat-datepicker-toggle matSuffix [for]="picker">
    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<!--<input type="text" [value]="date">-->
