div {
  h1 {
    color: lightpink;
  }
}

td {
  vertical-align: middle !important;
}


.table {
  th {
    text-align: center;
  }

  td {
    text-align: center;
  }
}

.glyphicon:hover {
  cursor: pointer;
  color: red;
}



.checkbox-inline>label {
  user-select: none;
    cursor: pointer;
}

.float.right {
  float: right;
}
